
/* styles for header */
@font-face{
   src: url(fonts/ADega-Serif-Regular.otf) format(‘opentype’);
   font-family: ADega;
}

body{ font-family: ADega;}

nav{
	margin-bottom: -72px;
}

body header.masthead{
	background-image: url(../img/temporary/hero-img.jpg);
}

.banner-img, .soc-logo{
	position: absolute;
	top: 0;
}

.banner-img{
	left: calc(40% + 70px);
}

.soc-logo{
    left: 35%;
}

.header-content{
	position: relative;
	top: 60%;
}

.header-copy{
	width: 38%;
	margin: 40px auto 20px auto;
}

p{
	color: #d9ccb3;
	font-size: 18px;
}

/* styles for middle-content */
.event-descriptor{
	background-color: #0B0814;
}

.descriptor-copy{
	margin-top: 50px;
}

.event-info{
	height: 100vh;
	background-image: url(../img/temporary/content-img.jpg);
}

.event-info-col{
	position: relative;
    top: 35%;
}

/* thar rules */
.rules-copy{
	margin-top: 80px;
}

ul.rules-list{
	list-style:none;
	padding: 0;
}

ul.rules-list li{
	padding: 0.1em 0 0em 29px;
    background-image: url(../img/temporary/bullet-point.png);
    background-repeat: no-repeat;
    background-position: 0px 10px;
    background-size: 12px;
    color: #996a32;
    font-style: italic;
    font-size: 18px;
}




/* media query override */
@media (min-width: 1200px){
	.container {
	    max-width: 1420px;
	}
}







